<div style='background-color:white;color:black;'>

  <h1>Crea Razas</h1>
  <p>¡Registra las razas !</p>

  <form action="raza/crearRaza" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input required type="text" class="form-control"  placeholder="Nombre" name="nombre">
    </div>

    <button type="submit" class="btn btn-success">Crear Raza</button>
    <br>

  </form>
</div>
