<h2>¡Error!</h2>

<div class="jumbotron">
  <h1> Error </h1>
  <p> <%= error.desripcion %></p>
  <h3>Detalles</h3>
  <pre>
      <%= error.rawError %>
  </pre>
  <p><a class="btn btn-danger btn-lg" href="<%= error.url %>" role="button">Volver</a></p>
</div>


