<h1>Bienvenidos</h1>

<div class="jumbotron">
  <h1>Mascotas!</h1>
  <p>Registra tus mascotas para compartirlas por la web :)</p>
  <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrar Usuarios</a></p>
</div>