<style>
    .rojo{
        background-color:red;
    }
</style>

<div class="rojo">
    <h1>AQUI EMPIEZA EL HOMEPAGE</h1>

    <p>Ya no somos tan noobs en Sailsjs</p>


    <h1>AQUI FINALIZA EL HOMEPAGE</h1>
</div>
