<h2>Crea un usuario</h2>
<form action="/Usuario/CrearUsuario" method="post">

    <div class="form-group">
        <label>Nombres</label>
        <input type="text" class="form-control" placeholder="Ingrese sus Nombres" name="nombres">
    </div>

    <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" placeholder="Ingrese sus Apellidos"  name="apellidos">
    </div>

    <div class="form-group">
        <label>Correo</label>
        <input type="email" class="form-control" placeholder="Ingrese su correo"  name="correo">
    </div>

    <button type="submit" class="btn btn-success">Crear Usuario :)</button>
</form>








