<div style='background-color:white;color:black;'>

<h1>Crear Usuario</h1>

<form action="Usuario/CrearUsuarioForm" method="post">
    <br>
    <label for="">Nombres</label>
    <br>
    <input type="text" name='nombres'>   
    <br>
    <label for="">Apellidos</label>
    <br>
    <input type="text" name='apellidos'> 
    <br>
    <label for="">Correo</label>
    <br>
    <input type="text" name='correo'> 
    <br>
    
    <button type="submit">Crear Usuario</button>
    <br>
    
</form>

</div>