<div style='background-color:white;color:black;'>

    <% var numero1 = 112312312314123123;%>


        <% 
    var arregloMascota = [
        {
            nombre:'Adrian'
        },
        {
            nombre:'Vicente'
        },
        {
            nombre:'Eguez'
        }]
        
        %>


            <h1>Home</h1>

            <h2><%= mauricio.nombre%> - <%= mauricio.cedula%> -  <%= numero1%></h2>
            
            
    <% for(var i=0;i<arregloMascota.length;i++) {%>
            
            <h3>Mascota: <%= arregloMascota[i].nombre %></h3>
            <button></button>
            
    <%  }%>
            

</div>








